# CONTAINER SETTINGS

MYSQL_USER=mariadb_user
MYSQL_PASSWORD=mariadb_password
MYSQL_DATABASE=inception
MYSQL_ROOT_PASSWORD=mariadb_root_password



# GENERAL SETTINGS

MARIADB_VOLUME_NAME=mariadb_volume
MARIADB_VOLUME_PATH=${HOME}/volumes/mariadb_volume

WORDPRESS_VOLUME_NAME=wordpress_volume
WORDPRESS_VOLUME_PATH=${HOME}/volumes/wordpress_volume