*.o
*.a
*.out
*.tmp

subjects
/cpp01/ex00/BraiiiiiiinnnzzzZ
/cpp01/ex02/HiThisIsBrain
/cpp01/ex03/UnnecessaryViolence
/cpp01/ex01/MoarBrainz
/cpp01/ex06/harlFilter
/cpp01/ex05/Harl2.0
/cpp01/ex04/SedIsForLosers
/cpp07/ex01/Iter
/cpp07/ex02/Array

/.idea
/.vscode/settings.json
