[mysqld]

# Specifies the user under which the MariaDB server will run.
# Running as 'mysql' ensures security by not running as root.
user = mysql

# Where database files and metadata are stored.
datadir = /var/lib/mysql

# Path to the Unix socket file used for local connections to the server.
socket = /var/run/mysqld/mysqld.sock

# File location to store the process ID for the running MariaDB server.
pid-file = /var/run/mysqld/mysqld.pid

# Configures the server to listen for connections on all interfaces, including IPv6.
bind-address = 0.0.0.0

# Disables DNS hostname resolution, which is enabled by default.
# Improves performance by reducing the number of DNS lookups performed.
skip-name-resolve

# Ensures networking is enabled.
# Allows TCP/IP connections to the MariaDB server.
skip-networking = false